@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}
    body {
    background-image: linear-gradient(to right, white, #77BFA3);
    }
    main {
        background-color: white;
        border-radius: 10px;
        box-shadow: 5px 5px 15px #243a32;
        width: 600px;
        padding: 10px;
        margin: auto;
    }
    h1 {
        color: #77BFA3;
        text-align: center;
        text-shadow: 1px 1px 0px #335246ae;
    }
    h2 {
        color: #98C9A3;
    }
    p {
    text-align: justify;
    }

